.services {
  background-color: $bg-color;
  &-wrapper {
      padding: 20px 16px 0;
      @media screen and (min-width: $tablet-width) {
        padding: 24px;
      }
      @media screen and (min-width: $desktop-width) {
        padding: 0 34px 34px 34px;
      }
  }
  &__row {
    display: flex;
    align-items: center;
    margin-top: 24px;
    @media screen and (min-width: $desktop-width) {
      margin-top: 0;
      padding-top: 42px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    &--right {
      display: none;
      @media screen and (min-width: $desktop-width) {
        display: flex;
      }

    }
    &--item {
      display: flex;
      align-items: center;
      margin-right: 10px;
      gap: 16px;
    }
  }
  
  &__item {
    position: absolute;
    left: 0;
  }
  &__title {
    margin-left: 12px;
  }
}

.navigation {
  margin: 32px 0;
  &__list {
    display: flex;
    align-items: center ;
    overflow-x: auto;
    margin-left: 32px;
    gap: 20px;
    height: 42px;
  }
  &__item {
    white-space: nowrap;
  }
  &__link {
    &:focus {
      border-radius: 6px;
      border: 2px solid $border-color;
      padding: 8px 9px 8px 16px;
      outline: none;
    }

    &--text {
      @include font($weight: 500, $height: 24px, $size: 16px);
      letter-spacing: -0.2px;
      color: $color-link;
    }
  }
}

.btn-content {
  margin-top: 16px;
}
.services-review {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__column {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $tablet-width) {
      max-width: 312px;
    }
    @media screen and (min-width: $desktop-width) {
      max-width: 490px;
    }
  }
  &__title--display {
    display: none; 
    @media screen and (min-width: $desktop-width) {
      display: inline-block;
    }
  }
}

.back-img {
  background-image: url('../../img/_MG_3223.jpg');
  width: 100%;
  min-height: 260px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
   @media screen and (min-width: 500px) {
    background-size: cover;
    margin-bottom: 15px;
   }
   @media screen and (min-width: $tablet-width) {
    max-width: 360px;
    max-height: 260px;
    margin: 0 0 15px 48px;
   }
}
